<%= form_for(@iptable) do |f| %>
  <% if @iptable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iptable.errors.count, "error") %> prohibited this iptable from being saved:</h2>

      <ul>
      <% @iptable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
