<h1>Listing iptables</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @iptables.each do |iptable| %>
      <tr>
        <td><%= link_to 'Show', iptable %></td>
        <td><%= link_to 'Edit', edit_iptable_path(iptable) %></td>
        <td><%= link_to 'Destroy', iptable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iptable', new_iptable_path %>
